{% extends "base.html" %}
{% block content %}
<!--Listataan virheet jos niitä oli-->
{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<h1>Muokkaa käyttäjätiliäsi</h1>

<form method="post" action="{{base_path}}/asetukset">
    <div class="form-group">
        <label>Etunimi</label>
        <input name="etunimi" class="form-control" value="{{kayttaja.etunimi}}" type="text">
    </div>
    <div class="form-group">
        <label>Sukunimi</label>
        <input name="sukunimi" class="form-control" value="{{kayttaja.sukunimi}}" type="text">
    </div>
    <div class="form-group">
        <label>Sähköposti</label>
        <input name="sahkoposti" class="form-control" value="{{kayttaja.sahkoposti}}" type="text">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg">Tallenna muutokset</button>
    </div>
</form>

<form method="post" action="{{base_path}}/poista">
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-sm">Poista tili</button>
    </div>
</form>
{% endblock %}