{% extends "base.html" %}
{% block content %}
<h1>Drinkit</h1>
<br>

<!-- Listan järjestäminen nimen mukaan aakkosjärjestyksessä, ainesosan perusteella juomalajin perusteella-->
<form method="post" action="{{base_path}}/drinkki">
    <div class="container-fluid">
        <div class="row">
            <div class="pull-left">
                <div class="form-group">
                    <select name="jarjestys" class="form-control">
                        <option value="1">Aakkosjärjestyksessä</option>
                        <option value="2">Drinkkityypin mukaan</option>
                        <option value="3">Ainesosan perusteella (Ei toimi vielä)</option>
                    </select>
                </div>
            </div>
            <div class="pull-left">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Järjestä</button>
                </div>
            </div>
        </div>
    </div>
</form>



<table class="table table-bordered" style="background-color: #813772;">
    <thead style="background-color: black;">
        <tr>
            <th>Nimi</th>
            <th>Muut nimet</th>
            <th>Tyyppi</th>
            <th>Ainesosat</th>
            <th>Lisäyspäivä</th>
            <th>Lisääjä</th>
        </tr>
    </thead>

    <tbody>
        <!-- Listataan drinkit tähän -->
        {% for drinkki in drinkit %}
        <tr>
            <td><a href="{{base_path}}/drinkki/{{drinkki.id}}">{{drinkki.ensisijainennimi}}</a></td>
            <td>
                {% for muunimi in drinkki.muutnimet %}
                <ul>
                    <li>{{muunimi.nimi}}</li>
                </ul>
                {% endfor %}
            </td>
            <td>{{drinkki.drinkkityyppi}}</td>
            <td>
                {% for aines in drinkki.aineslista %}
                <ul>
                    <li>{{aines.nimi}}</li>
                </ul>
                {% endfor %}
            </td>
            <td>{{drinkki.lisayspaiva}}</td>
            <td>{{drinkki.lisaaja}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}