{% extends "base.html" %}
{% block content %}


<!--Listataan virheet jos niitä oli-->
{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}


<!--Listataan viestit jos niitä oli -->
{% if message %}
<div class="alert alert-success">
    <ul>
        <li>{{message}}</li>
    </ul>
</div>
{% endif %}


<!--Sivun pääotsikko-->
<h1>Muokkaa drinkkiä</h1>


<!--Drinkin muokkaukseen suunniteltu formi-->
<form method="post" action="{{base_path}}/drinkki/{{drinkki.id}}/muokkaa">

    <!--Drinkin nimi-->
    <div class="form-group">
        <label>Nimi *</label>
        <input name="nimi" class="form-control" value="{{drinkki.ensisijainennimi}}" type="text">
    </div>

    <!--Drinkin muut nimet-->
    <div class="form-group">
        <label>Muut tunnetut nimet</label>
        <div class="row">
            <div class="form-group col-xs-6">
                <input name="muunimi1" class="form-control" value="{{muunimi1.nimi}}" type="text">
            </div>
            <div class="form-group col-xs-6">
                <input name ="muunimi2" class="form-control" value="{{muunimi2.nimi}}" type="text">
            </div>
        </div>
    </div>

    <!--Drinkkityyppi-->
    <div class="form-group">
        <label for="sel0">Drinkkityyppi *</label>
        <select name="tyyppi" value="{{drinkki.lampotila}}" class="form-control" id="sel0">
            {% for tyyppi in tyypit %}
            {% if tyyppi.nimi == drinkki.drinkkityyppi %}
            <option selected="selected">{{tyyppi.nimi}}</option>
            {% else %}
            <option>{{tyyppi.nimi}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>

    <!--Suositeltu lasi drinkille-->
    <div class="form-group">
        <label>Lasi *</label>
        <input name="lasi" class="form-control" value="{{drinkki.lasi}}" type="text">
    </div>

    <!--Drinkin suositeltu tarjoilu lämpötila-->
    <div class="form-group">
        <label for="sel">Lämpötila *</label>
        <select name="lampotila" class="form-control" id="sel">
            {% if drinkki.lampotila == "Jäinen" %}
            <option selected="selected">Jäinen</option>
            {% else %}
            <option>Jäinen</option>
            {% endif %}
            {% if drinkki.lampotila == "Viileä" %}
            <option selected="selected">Viileä</option>
            {% else %}
            <option>Viileä</option>
            {% endif %}
            {% if drinkki.lampotila == "Huoneenlämpöinen" %}
            <option selected="selected">Huoneenlämpöinen</option>
            {% else %}
            <option>Huoneenlämpöinen</option>
            {% endif %}
            {% if drinkki.lampotila == "Lämmin" %}
            <option selected="selected">Lämmin</option>
            {% else %}
            <option>Lämmin</option>
            {% endif %}
            {% if drinkki.lampotila == "Kuuma" %}
            <option selected="selected">Kuuma</option>
            {% else %}
            <option>Kuuma</option>
            {% endif %}
        </select>
    </div>

    <!--Drinkin ainesosat-->
    <div class="form-group">
        <label>Drinkin ainesosat (1...5)*</label></br>
        <div class="row">
            <div class="form-group col-xs-6">
                <label for="sel1">Ainesosa</label>
                <select name = "aines1" class="form-control" id="sel1">
                    <option selected></selected>
                    {% for aines in ainekset %}
                    {% if aines1 == aines.nimi %}
                    <option selected="selected">{{aines.nimi}}</option>
                    {% else %}
                    <option>{{aines.nimi}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-xs-6">
                <label for="in1">Määrä (cl)</label>
                <input name="maara1" value="{{maara1}}"class="form-control" id="in1">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <select name = "aines2" class="form-control" id="sel2">
                    <option selected></selected>
                    {% for aines in ainekset %}
                    {% if aines2 == aines.nimi %}
                    <option selected="selected">{{aines.nimi}}</option>
                    {% else %}
                    <option>{{aines.nimi}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-xs-6">
                <input name="maara2" value="{{maara2}}" class="form-control" id="in2">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <select name = "aines3" class="form-control" id="sel3">
                    <option selected></selected>
                    {% for aines in ainekset %}
                    {% if aines3 == aines.nimi %}
                    <option selected="selected">{{aines.nimi}}</option>
                    {% else %}
                    <option>{{aines.nimi}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-xs-6">
                <input name="maara3" value="{{maara3}}" class="form-control" id="in3">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <select name = "aines4" class="form-control" id="sel4">
                    <option selected></selected>
                    {% for aines in ainekset %}
                    {% if aines4 == aines.nimi %}
                    <option selected="selected">{{aines.nimi}}</option>
                    {% else %}
                    <option>{{aines.nimi}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-xs-6">
                <input name="maara4" value="{{maara4}}" class="form-control" id="in4">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <select name = "aines5" class="form-control" id="sel5">
                    <option selected></selected>
                    {% for aines in ainekset %}
                    {% if aines5 == aines.nimi %}
                    <option selected="selected">{{aines.nimi}}</option>
                    {% else %}
                    <option>{{aines.nimi}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-xs-6">
                <input name="maara5" value="{{maara5}}" class="form-control" id="in5">
            </div>
        </div>
    </div>

    <!-- Drinkin kuvaus-->
    <div class="form-group">
        <label>Kuvaus *</label>
        <textarea name="kuvaus" class="form-control">{{drinkki.kuvaus}}</textarea>
    </div>
    
    <!--Huomautus/info-->
    <div class="form-group">
        * Pakolliset kohdat, jotka on täytettävä!
    </div>
    
    <!--Tallenna muutokset-->
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna muutokset</button>
    </div>

</form>


{% endblock %}