{% extends "base.html" %}
{% block content %}
<h1>{{drinkki.ensisijainennimi}}</h1>

<!-- Perustiedot tulee listana tähän -->
<ul>
    <li><strong>Nimi:</strong> {{drinkki.ensisijainennimi}}</li>
    <li><strong>Tyyppi:</strong> {{drinkki.drinkkityyppi}}</li>
    <li><strong>Lasi:</strong> {{drinkki.lasi}}</li>
    <li><strong>Lämpötila:</strong> {{drinkki.lampotila}}</li>
    <li><strong>Lisäyspäivä:</strong> {{drinkki.lisayspaiva}}</li>
    <li><strong>Lisääjä:</strong> {{drinkki.lisaaja}}</li>
</ul>

<br>

<!-- Muut nimet tulee listana tähän -->
<h5><strong> Muut tunnetut nimet </strong></h5>

<ul>
    {% for muunimi in drinkki.muutnimet %}
    <li>{{muunimi.nimi}}</li>
    {% endfor %}
</ul>
<br>

<!-- Tarvittavat ainesosat tulee listana tähän -->
<h5><strong> Drinkkiin tulevat ainesosat </strong></h5>

<ul>
    {% for drinkinainesosa in drinkinainesosat %}
    <li>{{drinkinainesosa.maara}} cl &nbsp;&nbsp;  {{drinkinainesosa.ainesosanNimi}}</li>
    {% endfor %}
</ul>
<br>

<!-- Kuvaus tulee tähän -->
<p>
<h5><strong>Kuvaus</strong></h5>
{{drinkki.kuvaus}}
</p>
<br>
{% if admin_logged_in %}
<a href ="{{base_path}}/drinkki/{{drinkki.id}}/muokkaa"><button type="button">Muokkaa</button></a>
<br>
<form method="post" action="{{base_path}}/drinkki/{{drinkki.id}}/poista" style="display: inline-block;">
  <button type="submit" class="btn btn-danger">Poista</button>
</form>
{% endif %}


{% endblock %}