{% extends "base.html" %}
{% block content %}


<!--Listataan virheet jos niitä oli-->
{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}


<!--Listataan viestit jos niitä oli -->
{% if message %}
<div class="alert alert-success">
    <ul>
        <li>{{message}}</li>
    </ul>
</div>
{% endif %}


<!--Sivun Pääotsikko-->
<h1>{{drinkki.ensisijainennimi}}</h1>


<!-- Lista drinkin perustiedoista-->
<div class="panel panel-default">
    <div class="panel-body" style="background-color: #813772;">
        <ul>
            <li><strong>Nimi:</strong> {{drinkki.ensisijainennimi}}</li>
            <li><strong>Tyyppi:</strong> {{drinkki.drinkkityyppi}}</li>
            <li><strong>Lasi:</strong> {{drinkki.lasi}}</li>
            <li><strong>Lämpötila:</strong> {{drinkki.lampotila}}</li>
            <li><strong>Lisäyspäivä:</strong> {{drinkki.lisayspaiva}}</li>
            <li><strong>Lisääjä:</strong> {{drinkki.lisaaja}}</li>
        </ul>
    </div>
</div>
<br>


<!--Tämä näytetään vain jos muita nimiä on-->
{% if drinkki.muutnimet|length > 0 %}

<!--Alaotsikko muille nimille-->
<h4><strong> Muut tunnetut nimet </strong></h4>

<!--Lista muista nimistä-->
<div class="panel panel-default">
    <div class="panel-body" style="background-color: #813772;">
        <ul>
            {% for muunimi in drinkki.muutnimet %}
            <li>{{muunimi.nimi}}</li>
            {% endfor %}
        </ul>
        <br>
    </div>
</div>
<br>
{% endif %}


<!--Drinkkiin tarvittavat aineosat alaotsikko-->
<h4><strong> Drinkkiin tulevat ainesosat </strong></h4>

<!--Lista drinkkiin kuuluvista ainesosista-->
<div class="panel panel-default">
    <div class="panel-body" style="background-color: #813772;">
        <ul>
            {% for drinkinainesosa in drinkinainesosat %}
            <li>{{drinkinainesosa.maara}} cl &nbsp;&nbsp;  {{drinkinainesosa.ainesosanNimi}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<br>


<!--Alaotsikko kuvaukselle-->
<h4><strong>Kuvaus</strong></h4>


<!--Kuvaus-->
<div class="panel panel-default">
    <div class="panel-body" style="background-color: #813772;">
        <p>{{drinkki.kuvaus}}</p>
    </div>
</div>
<br>


<!--Muokkaus ja poisto painikkeet ylläpitäjälle-->
{% if admin_logged_in %}
<a href ="{{base_path}}/drinkki/{{drinkki.id}}/muokkaa" class="btn btn-warning">Muokkaa</a>
<form method="post" action="{{base_path}}/drinkki/{{drinkki.id}}/poista" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista</button>
</form>
{% endif %}

{% endblock %}