{% extends "base.html" %}
{% block content %}
  <h1>Drinkit</h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Pääraaka-aine</th>
        <th>Ainesosien määrä</th>
        <th>Lämpötila</th>
        <th>Lisäyspäivä</th>
        <th>Lisääjä</th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan drinkit tähän -->
      <tr>
        <td><a href="#">Valkovenäläinen</a></td>
        <td>Vodka</td>
        <td>3</td>
        <td>Viileä</td>
        <td>20.3.2017</td>
        <td>Teemu Teekkari</td>
      </tr>
    </tbody>
  </table>
{% endblock %}