{% extends "base.html" %}
{% block content %}
  <h1>Valkovenäläinen</h1>

  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Nimi:</strong> Valkovenäläinen</li>
    <li><strong>Pääraaka-aine:</strong> Vodka</li>
    <li><strong>Ainesosien määrä:</strong> 3</li>
    <li><strong>Lämpötila:</strong> Viileä</li>
    <li><strong>Lisäyspäivä:</strong> 20.3.2017</li>
    <li><strong>Lisääjä:</strong> Teemu Teekkari</li>
  </ul>
  
  <!-- Kuvaus tulee tähän -->
  <p>
  <h3> Kuvaus </h3>
  Valkovenäläinen on makea cocktail, eli drinkki. Juoma sekoitetaan yleensä vodkasta, kahvilikööristä (yleisimmin käytetään Kahlúaa) sekä kermasta tai nykyisin maidosta, ja se tarjoillaan usein grogilasissa jäiden kera.
  Valkovenäläiseen tulee yleensä yhtä paljon vodkaa ja kahvilikööriä. Päälle kaadetaan kerma, joka kuitenkin nykyisin usein korvataan maidolla.
  </p>
{% endblock %}