{% extends "base.html" %}
{% block content %}
  <h1>Valkovenäläinen</h1>

  <!-- Perustiedot tulee listana tähän -->
  <ul>
    <li><strong>Nimi:</strong> Valkovenäläinen</li>
    <li><strong>Tyyppi:</strong> Cocktail</li>
    <li><strong>Lasi:</strong> Grogilasi</li>
    <li><strong>Lämpötila:</strong> Viileä</li>
    <li><strong>Lisäyspäivä:</strong> 20.3.2017</li>
    <li><strong>Lisääjä:</strong> Teemu Teekkari</li>
  </ul>
  
  <br>
  
  <!-- Muut nimet tulee listana tähän -->
  <h5><strong> Muut tunnetut nimet </strong></h5>
  <ul>
      <li>-</li>
  </ul>
  
  <!-- Kuvaus tulee tähän -->
  <p>
  <h3> Kuvaus </h3>
  Valkovenäläinen on makea cocktail, eli drinkki. Juoma sekoitetaan yleensä vodkasta, kahvilikööristä (yleisimmin käytetään Kahlúaa) sekä kermasta tai nykyisin maidosta, ja se tarjoillaan usein grogilasissa jäiden kera.
  Valkovenäläiseen tulee yleensä yhtä paljon vodkaa ja kahvilikööriä. Päälle kaadetaan kerma, joka kuitenkin nykyisin usein korvataan maidolla.
  </p>
{% endblock %}