{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
    <ul>
        <li>{{message}}</li>
    </ul>
</div>
{% endif %}

<h1>Käyttäjien ehdottamat drinkit</h1>


<table class="table table-bordered" style="background-color: #813772;">
    <thead>
        <tr style="background-color: black;">
            <th>Nimi</th>
            <th>Muut nimet</th>
            <th>Tyyppi</th>
            <th>Ainesosat</th>
            <th>Lisäyspäivä</th>
            <th>Lisääjä</th>
            <th>Hyväksy / Hylkää</th>
        </tr>
    </thead>

    <tbody>
        <!-- Listataan drinkit tähän -->
        {% for drinkki in drinkit %}
        <tr>
            <td><a href="{{base_path}}/ehdotukset/{{drinkki.id}}">{{drinkki.ensisijainennimi}}</a></td>
            <td>
                {% for muunimi in drinkki.muutnimet %}
                <ul>
                    <li>{{muunimi.nimi}}</li>
                </ul>
                {% endfor %}
            </td>
            <td>{{drinkki.drinkkityyppi}}</td>
            <td>Listaus ei toimi vielä</td>
            <td>{{drinkki.lisayspaiva}}</td>
            <td>{{drinkki.lisaaja}}</td>
            <td>
                <div class="form-group" action="{{base_path}}/ehdotukset/hyvaksy">
                    <button name="id" value={{drinkki.id}} type="submit" class="btn btn-primary">Hyväksy</button>
                    </form>
                </div>
                <div class="form-group">
                     <form method="post" action="{{base_path}}/ehdotukset/hylkaa">
                     <button name="id" value={{drinkki.id}} type="submit" class="btn btn-primary">Hylkää</button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</form>
{% endblock %}