{% extends "base.html" %}
{% block content %}
<h1>Ehdota drinkkiä</h1>

<!--Listataan virheet jos niitä oli-->
{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/ehdota">

    <div class="form-group">
        <label>Nimi *</label>
        <input name="nimi" class="form-control" value="{{drinkki.ensisijainennimi}}" type="text">
    </div>

    <div class="form-group">
        <label>Muut tunnetut nimet</label>
        <div class="row">
            <div class="form-group col-xs-6">
                <input name="muunimi1" class="form-control" value="{{muunimi1.nimi}}" type="text">
            </div>
            <div class="form-group col-xs-6">
                <input name ="muunimi2" class="form-control" value="{{muunimi2.nimi}}" type="text">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="sel0">Drinkkityyppi *</label>
        <select name="tyyppi" value="{{drinkki.lampotila}}" class="form-control" id="sel0">
            {% for tyyppi in tyypit %}
            <option>{{tyyppi.nimi}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label>Lasi *</label>
        <input name="lasi" class="form-control" value="{{drinkki.lasi}}" type="text">
    </div>

    <div class="form-group">
        <label for="sel">Lämpötila *</label>
        <select name="lampotila" class="form-control" id="sel">
            <option>Jäinen</option>
            <option>Viileä</option>
            <option>Huoneenlämpöinen</option>
            <option>Lämmin</option>
            <option>Kuuma</option>
        </select>
    </div>

    <div class="form-group">
        <label>Drinkin ainesosat (1...5)*</label></br>
        <div class="row">
            <div class="form-group col-xs-6">
                <label for="sel1">Ainesosa</label>
                <select name = "aines1" class="form-control" id="sel1">
                    <option selected></selected>
                        {% for aines in ainekset %}
                    <option>{{aines.nimi}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-xs-6">
                <label for="in1">Määrä (cl)</label>
                <input name="maara1" value="{{maara1}}"class="form-control" id="in1">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <select name = "aines2" class="form-control" id="sel2">
                    <option selected></selected>
                        {% for aines in ainekset %}
                    <option>{{aines.nimi}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-xs-6">
                <input name="maara2" value="{{maara2}}" class="form-control" id="in2">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <select name = "aines3" class="form-control" id="sel3">
                    <option selected></selected>
                        {% for aines in ainekset %}
                    <option>{{aines.nimi}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-xs-6">
                <input name="maara3" value="{{maara3}}" class="form-control" id="in3">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <select name = "aines4" class="form-control" id="sel4">
                    <option selected></selected>
                        {% for aines in ainekset %}
                    <option>{{aines.nimi}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-xs-6">
                <input name="maara4" value="{{maara4}}" class="form-control" id="in4">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <select name = "aines5" class="form-control" id="sel5">
                    <option selected></selected>
                        {% for aines in ainekset %}
                    <option>{{aines.nimi}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-xs-6">
                <input name="maara5" value="{{maara5}}" class="form-control" id="in5">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>Kuvaus *</label>
        <textarea name="kuvaus" class="form-control">{{drinkki.kuvaus}}</textarea>
    </div>
    <div class="form-group">
        * Pakolliset kohdat, jotka on täytettävä!
        <br>
        HUOM! Mikäli et löytänyt tarvitsemaasi ainesosaa listasta, jätä tieto tästä drinkin kuvaukseen. Ylläpitäjä päättää lisätäänkö ainesosa valikoimaan.
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lähetä ehdotus</button>
    </div>

</form>


{% endblock %}