{% extends "base.html" %}

{% block content %}

<form method="post" action="{{base_path}}/"> 

    <div class="input-group">
        <h2>Drinkkihaku</h2>

        <div class="form-group">
            <select name="ehto" class="form-control">
                <option value="nimi">Nimi</option>
                <option value="aines">Aines</option>
            </select>
        </div>     
        
        <div class="form-group">
            <input name="termi" class="form-control" placeholder="Hakutermi..." type="text">
        </div>

        <span class="form-group">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
        </span>

    </div>
</form>

{% endblock %}
