{% extends "base.html" %}
{% block content %}
<h1>Drinkkityypit</h1>
<br>
{% if admin_logged_in %}
<a href="{{base_path}}/drinkkityyppi/lisaa" class="btn btn-primary">Lisää drinkkityyppi</a>
{% endif %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Kuvaus</th>
            {% if admin_logged_in %}
            <th>Muokkaa / Poista</th>
            {% endif %}
        </tr>
    </thead>

    <tbody>
        <!-- Listataan drinkityypit tähän -->
        {% for tyyppi in tyypit %}
        <tr>
            <td>{{tyyppi.nimi}}</td>
            <td>{{tyyppi.kuvaus}}</td>
            {% if admin_logged_in %}
            <td>
                <form action="{{base_path}}/drinkkityyppi/muokkaa/{{tyyppi.id}}">
                    <input type="submit" value="Muokkaa"/>
                </form>
                <form method="post" action="{{base_path}}/drinkkityyppi/poista">
                    <button name="id" value={{tyyppi.id}} type="submit" class="btn btn-primary">Poista</button>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}