{% extends "base.html" %}
{% block content %}


<!--Listataan virheet jos niitä oli-->
{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}


<!--Listataan viestit jos niitä oli -->
{% if message %}
<div class="alert alert-success">
    <ul>
        <li>{{message}}</li>
    </ul>
</div>
{% endif %}


<!--Sivun pääotsikko-->
<h1>Drinkkityypit</h1>
<br>


<!--Drinkkityypin lisäyslinkki ylläpitäjälle-->
{% if admin_logged_in %}
<a href="{{base_path}}/drinkkityyppi/lisaa" class="btn btn-primary">Lisää drinkkityyppi</a>
{% endif %}


<!--Taulukko jossa drinkkityypit on listattuna-->
<table class="table table-bordered" style="background-color: #813772;">
    
    <!--Sarakkeiden otsikot-->
    <thead>
        <tr style="background-color: black;">
            <th>Nimi</th>
            <th>Kuvaus</th>
            {% if admin_logged_in %}
            <th>Muokkaa / Poista</th>
            {% endif %}
        </tr>
    </thead>

    <!--Sarakkeiden sisällöt riveittäin-->
    <tbody>
        {% for tyyppi in tyypit %}
        <tr>
            <td>{{tyyppi.nimi}}</td>
            <td>{{tyyppi.kuvaus}}</td>
            {% if admin_logged_in %}
            <td>
                <form style="display: inline" action="{{base_path}}/drinkkityyppi/muokkaa/{{tyyppi.id}}">
                    <button name="id" value={{tyyppi.id}} type="submit" class="btn btn-warning">Muokkaa</button>
                </form>
                <form style="display: inline" method="post" action="{{base_path}}/drinkkityyppi/poista">
                    <button name="id" value={{tyyppi.id}} type="submit" class="btn btn-danger">Poista</button>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    
</table>

{% endblock %}