<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}
            Tietokantasovellus
            {% endblock %}
        </title>

        {% block head %}
        <!-- Bootstrap (tyylitiedosto) -->
        <link href="{{base_path}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Oma tyylitiedostomme -->
        <link href="{{base_path}}/assets/css/site.css" rel="stylesheet">
        {% endblock %}
    </head>

    <body>

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Sovelluksen nimi UPDATE: linkki poistettu turhana-->
                    <a class="navbar-brand">Drinkkiarkisto</a>
                </div>

                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav">
                        <!-- Navigaation linkit -->
                        <li><a href="{{base_path}}">Etusivu</a></li>
                        <li><a href="{{base_path}}/drinkki">Selaa drinkkejä</a></li>
                        <li><a href="{{base_path}}/drinkkityyppi">Drinkkityypit</a></li>
                        <li><a href="{{base_path}}/ehdota">Ehdota uutta drinkkiä</a></li>
                        <li><a href="{{base_path}}/ehdotukset">Käyttäjien ehdotukset</a></li>
                    </ul>

                    <ul id="signInDropdown" class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-info navbar-btn dropdown-toggle"><i class="glyphicon glyphicon-user"></i> Kirjautuminen <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li style="width: 250px;">
                                    <form class="navbar-form form" role="form">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                                <input id="emailInput" placeholder="sähköposti" class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                                                <input id="passwordInput" placeholder="salasana" class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary form-control">Kirjaudu</button>
                                        </div>
                                        <div class="form-group">
                                            <span class="pull-right"><a href="{{base_path}}/rekisteroidy">Rekisteröi tili</a></span>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="main-container">
            <!-- Dynaaminen sisältö tulee tähän -->
            {% block content %}{% endblock %}
        </div>

        {% block body %}
        <!-- jQuery -->
        <script src="{{base_path}}/vendor/jquery.min.js"></script>

        <!-- Bootstrap (skriptitiedosto) -->
        <script src="{{base_path}}/vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Oma skriptitiedostomme -->
        <script src="{{base_path}}/assets/js/site.js"></script>
        {% endblock %}
    </body>
</html>
